{% extends "::base.html.twig" %}        
{% block stylesheets %}
<link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<link href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css" rel="stylesheet" />
<link href="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
<link href="{{ asset('../../public/css/headershift.css') }}" rel="stylesheet" type="text/css" />
<style>body { font-size: 140%; padding-top: 50px; }</style>
{% endblock %}
{% block body %}
<table id="things" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Category</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Category</th>
            </tr>
        </tfoot>
        <tbody>
         {% for thing in allThings %}
        <tr>
        <td>{{ thing.getName() }}</td>
        <td>{{ thing.getCount() }}</td>
        <td>{{ thing.getCategory() }}</td>
        {% else %}
        <td>Nothing found</td>
        </tr>
        {% endfor %}    
        </tbody>
</table>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#things').dataTable();
    } );
</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
{% endblock %}